div.header a, div.item a {
	color:#326EA1;
	text-decoration:underline;
	padding:0 1px;
}
 
div.header a:hover, div.item a:hover {
	color:#E45E9D;
	text-decoration:none;
}
 
div.header {
	border-bottom:1px solid #ccc;
}
 
div.item {
	padding:5px 0;
	border-bottom:1px solid #ccc;
}