/**
 * General elements
 */

@import url(figure.css);

body {
  color: #333;
  font-family: arial, sans-serif;
  overflow-y: scroll;
  background-image: url('../img/swirl_pattern.png');
}

h1 {
  font-size: 2.2em;
}


/**
 * Layout of the main page elements 
 */
#wrapper {
  margin: 0 auto;
  width: 980px; 
  padding: 10px;
  background: white;
  border: 1px solid #CFCFCF;
  border-radius: 4px;
}


/**
 * Layout for header
 */
#header {
  position: relative;
  margin-bottom: 40px;
}

.sitetitle {
  position: absolute;
  top: 6px;
  left: 130px;
  font-size: 48px;
}

.siteslogan {
  position: absolute;
  top: 65px;
  left: 130px;
  font-style: italic;
  color: #666;
}


/**
 * Layout for main
 */
#main {
  min-height: 20em;
}


/**
 * Layout for footer
 */
#footer {
  margin-top: 40px;
  border-top: 1px solid #ccc;
  padding-top: 22px;
}

.sitefooter {
  color: #666;
}


/**
 * For articles
 */
.article1 {
  width: 700px;
  border-right: 1px solid #ccc;
  padding-right: 1em;
}

.article1 h1,
.article1 h2 {
  border-bottom: 1px solid #ccc;
}

.byline {
  margin-top: 44px;
  border-top: 1px dashed #ccc;
  padding-top: 22px;
  color: #666;
}

.byline p {
  margin-top: 0;
  font-style: italic;
  font-size: smaller;
}

/**
 * Links styled as buttons
 */
.as-button {
  padding: 0.2em 0.5em;
  background: #E45E9D;  
  text-decoration: none;
  font-weight: bold;
  color: white; 	
}

a.as-button:hover {
  background: #E27CAC;  	
}
