.question {
	border-bottom: 1px solid #eaeaea;
	.clearfix();
	margin-bottom: 22px;
	position: relative;
	font-size: smaller;
	height: 90px;
	color: #999999;
}

.question h4 {
	font-family: arial;
	float: left;
	font-size: 26px;
}

.question a {
	color: #A34141;
	text-decoration: none;
}

.question a:HOVER {
	text-decoration: underline;
}

.numbers {
	background: #EEEEEE;
	float: left;
	text-align: center;
	margin-right: 1em;
}

.numbers p {
	padding: 0.5em;
	margin: 0;
	font-size: 15px;
	line-height: 1.0;
	color: #808185;
}

.user-info {
	float: right;	
}

.user-info img {
	float: left;
	margin-right: 0.5em;
}

.question .tags {
	position: absolute;
    bottom: 25px;
    left: 65px;
}

.question .tags a {
	display: inline-block;
	background: #EFCBCB;
	padding: 0.1em 0.5em;
	color: #A34141;
	border-right: 1px solid #D68080;
	border-bottom: 1px solid #D68080;
}

.tags a:HOVER {
	text-decoration: none;
	background: #D68080;
}

// Single question
.question-single {
	border-bottom: 1px solid #eaeaea;
	.clearfix();
	margin-bottom: 22px;
	position: relative;
	color: #999999;
}

.rating {
	float: left;
	text-align: center;
	height: 100%;
	width: 10%;
}

.question-single .tags {
	float: right;
	width: 90%;
	display: block;
}

.question-single .content {
	float: right;
	display: block;
	width: 90%;
}

.question-main {
	.clearfix();
}

.comments {
	.clearfix();
	width: 100%;
}

.comment {
	float: right;
	display: block;
	width: 90%;
}

.comment p {
	display: inline;
}

// Reply
.reply {
	float: right;
	display: block;
	width: 90%;
}

textarea {
	width: 100%;
}

.write-answer textarea {
	height: 100px;
}