#wrapper {
  max-width: 960px;
  margin: 0 auto; 
  overflow: hidden;
  background: white;
}

#header,
#navbar,
#flash,
#footer {
    .column(@columns);
    margin-bottom: @magicNumber;
}
 
#main {
    .column(@columns / 3 * 2);
    margin-bottom: @magicNumber;
}
 
#sidebar {
    .column(@columns / 3);
    margin-bottom: @magicNumber;
}

div[id^="featured-"], div[id^="triptych-"] {
    .column(@columns / 3);
    margin-bottom: @magicNumber;
}
 
div[id^="footer-col-"] {
    .column(@columns / 4);
    margin-bottom: @magicNumber;
}

#wrap-featured,
#wrap-main,
#wrap-triptych,
#wrap-footer-col {
    .clearfix();
}



/** --------------------------------------------------------------
 * Style from me pages
 */
 
body {
  overflow-y: scroll;
}

/**
 * Layout for header
 */
#header {
  position: relative;
  margin-bottom: 40px;
  font-family: arial,sans-serif;
}

.sitetitle {
  position: absolute;
  top: 6px;
  left: 130px;
  font-size: 68px;
}

.siteslogan {
  position: absolute;
  top: 105px;
  left: 130px;
  font-style: italic;
}



/** --------------------------------------------------------------
 * Paradise style
 */

html.pug {

	body {
  		overflow-y: scroll;
  		background-image: url('../../img/summer.jpg');
  		background-size: cover;
  		background-attachment: fixed;
  		font-family: helvetica;
	}
	
	#toolbar {
		text-align: right;
		background: lightgrey;
	}
	
	.contain {
		max-width: 960px;
		margin: 0 auto;
	}
	
	#header {
		background-image: url('../../img/header.jpg');
		background-size: cover;
		height: 150px;
		width: 100%;
		margin-left: 0;
	}
 
	#navbar {
		font-family: arial,sans-serif;
	}
	
	#wrapper {
		border: 3px solid #E45E9D;
		.border-radius(10px);
		margin-top: 1em;
		margin-bottom: 1em;
	}
	
}